<footer class="footer js-footer">
  <div class="width-limiter">
    <nav class="footer-nav">
      <%= link_to "Каталог товаров", spree.root_path, class: "footer-nav-item" %>
      <% Page.all.each do |page| %>
          <%= link_to(page.title, main_app.page_path(page.id), class: "footer-nav-item") %>
      <% end %>
    </nav>

    <div class="footer-position-custom-1">
      <p class="info-block-paragraph-light">В торговом реестре с 28 августа 2015 г.<br/>Регистрация №0054345, 6.09.2015,<br/>Минсгорисполком.</p>
      <p class="info-block-paragraph-light-smaller">ИП Шишкин Я.С. УНП 191877932; <br/>ID сайта в БелГИЭ: 143464</p>
    </div>

    <div class="footer-center-content">
      <p>Время приема заказов через корзину: <span class="red">круглосуточно</span></p>
      <p>Время приема заказов по телефону пн-сб: <span class="red">с 9.00 до 18.00</span></p>
      <p>Время доставки заказов пн-сб: <span class="red">с 10.00 до 21.00</span></p>
    </div>

    <p class="footer-position-custom-3 info-block-paragraph-black">
      магазин профессионального<br/>
      оборудования для тату-мастеров<br/>
      Аллы Ромазановой<br/>
      <span class="red">© 2016 TATTOOBRANDS.BY</span></p>

  </div>
</footer>
