extends ../layouts/wrapper
include ../mixins/products

block content
    div.width-limiter.width-limiter--big-padding

        div.js-category-bread-crumbs.bread-crumbs

        h2.page-header= (localRootCategory.displayName || localRootCategory.name)

        div.products-preview.width-limiter
            +products(products)

        if categories.length
            if products.length
                h2.page-header Подкатегории

            div.category-item__wrapper.clear-self
                each category in categories
                    a(href='/category/' + category.slug).category-item.clear-self
                        span(style='background-image: url(' + category.image + ')').category-item__image
                        p.category-item__name= (category.displayName || category.name)

    script
        != 'window.app = window.app || {};'
        != 'window.app.category = ' + JSON.stringify(localRootCategory) + ';'
