div.seo-text.width-limiter
    h3.seo-text__header TatooBrands – магазин профессионального тату-оборудования
    p.seo-text__paragraph Ищете ребят, у которых можно купить всё, что понадобится для татуировок? Обращайтесь в TatooBrands в Минске – поставляем из Европы и Америки самые новые крутые штуки, которые предлагают мировые производители!
    p.seo-text__paragraph Мы организовываем прямые поставки, поэтому товар всегда в наличии. Если вы хотите брендовую технику, чтобы еще профессиональнее бить татуировки – не нужно ждать поставки неделями.
    h3.seo-text__header Какое оборудование вы найдете у нас?
    ul.seo-text__list
        li.seo-text__list-item Тату-машинки и составляющие к ним. Солидная техника, надежные середнячки, устройства из лимитированных коллекций и даже б/у-устройства – подберем машинку с нужной мощностью двигателя, которую будет комфортно держать в руке и получать ровные линии.
        li.seo-text__list-item Иглы. Продаем поштучно, картриджи, держатели для игл, ультратонкие для перманентного макияжа.
        li.seo-text__list-item Краски. Любой цвет. Только скажите, что вам нужен черный, как уголь, цвет – дадим нужный. Привозим такие цвета, чтобы вы могли работать со всеми спектрами оттенков.
        li.seo-text__list-item Средства гигиены. В нашем магазине вы купите Detoll, колпачки для краски, мыло, заживляющие гели, вазелин и масла-заменители вазелина, пластыри.
        li.seo-text__list-item Аксессуары. Вещи, которые сделают вашу работу комфортнее. Например, держатель для руки и другое.
    p.seo-text__paragraph Регистрируйтесь на сайте, добавляйте заказ в корзину – принимаем онлайн-заявки круглосуточно. Хотите заказать по телефону? Звоните с понедельника по субботу с 9 утра до 5 вечера.
    h3.seo-text__header TatooBrands – у магазина хороший сервис
    p.seo-text__paragraph Почему вы будете довольны сотрудничеством с нами?
    ul.seo-text__list   
        li.seo-text__list-item Гарантия на продукцию. Оформляем гарантию на 1 год. Если попадется товар с заводским браком – обменяем и покроем расходы из-за замены или вернем деньги.
        li.seo-text__list-item Скидки. Оформляем дисконтную карту со скидкой от 3 до 10%.
        li.seo-text__list-item Скорость ответа. Если есть вопросы по продукции и сервису, пишите нам в соцсетях – отвечаем не больше 30 минут.
    p.seo-text__paragraph Приходите в TatooBrands – снабдим тату-оборудованием!
