extends ../layouts/wrapper

block content
    div.products-preview.width-limiter
        each product in products
            a.product-preview(href="#")
                div(style="background-image: url(" + product.image + ")").product-preview__image
                h3.product-preview__name= product.name
                p.product-preview__description= product.description
                span.product-preview__price= product.price + ' руб.'
