div.seo-text.width-limiter
    h3.seo-text__header Обеспечьте успех своему делу с Tattoobrands
    p.seo-text__paragraph Интернет-магазин Tattobrands создан для тату мастеров. Профессиональное оборудование, удобные аксессуары и многое другое мы предлагаем для вас.
    p.seo-text__paragraph Наша задача – обеспечить мастеров необходимым инструментом для работы, поднять уровень тату во всей стране. Слегка пафосно, но все же, мы в это верим.
    h3.seo-text__header Почему Tattoobrands
    p.seo-text__paragraph Магазинов, продающих оборудование для тату салонов не сосчитать на пальцах рук. И вы наверняка захотите знать, почему же стоит остановиться на Tattoobrands. И ответ на вопрос у нас есть.
    p.seo-text__paragraph Главное отличие от конкурентов заключается в том, что наш тату магазин создан такими же любителями татуировок как и вы.
    ul.seo-text__list
        li.seo-text__list-item Мы предоставляем оборудование, пигменты и прочие принадлежности, в которых уверены.
        li.seo-text__list-item Понимаем, как важно мастеру иметь все лучшее для работы, и как от этого зависит успех.
        li.seo-text__list-item Мы не хотим опорочить свою репутацию, но нам важна и ваша честь. И это делает нас лучше.
    p.seo-text__paragraph Также не забываем и о удобстве доставки. Оформлять заявку на покупку вы можете круглосуточно (через корзину). Кроме того, покупка будет доставлена в любой день недели. Да-да, и даже в субботу и воскресенье.
    h3.seo-text__header Ассортимент
    p.seo-text__paragraph Вам знакомы ситуации, когда приходилось обходиться «не совсем тем»? «Не совсем такая» машинка и другие инструменты. Если да, то пересмотрите наш товар. Здесь найдется все, что пожелаете. Среди ассортимента машинок, игл, типсов и аксессуаров вы найдете «своё».
    p.seo-text__paragraph Процесс работы нам известен. Мы знаем, что машинкой и иглами не обойтись. Работа тату мастера требует стерильности. Поэтому предлагаем все, что способствует безопасности клиентов. Одноразовые стерильные перчатки и держатели игл, мази по уходу и заживлению тату. Все это вы можете заказать и купить всего в пару кликов.
    p.seo-text__paragraph Вам не обязательно обследовать каждую страницу сайта в поисках нужных предметов. Можете сразу купить наборы для тату, которые состоят из необходимых инструментов для работы.
    h3.seo-text__header Мастерам перманентного макияжа
    p.seo-text__paragraph Если ваша деятельность – нанесение постоянного макияжа, не спешите закрывать вкладку с нашим интернет-магазином. Тут найдется товар и для вас. Пигменты для работы от лучших производителей насчитывают десятки оттенков, которые украсят лицо девушки, со светлой или темной кожей.
    p.seo-text__paragraph Кроме этого, вы можете приобрести журналы, которые содержат полезные советы по нанесению перманентного татуажа.
    p.seo-text__paragraph Рецепт вашего успеха прост. Обставьте салон качественной и современной техникой, которая предложена в нашем магазине, добавьте собственное мастерство и щепотку опыта. Рецепт уже опробован и проверен специалистами, которых вы еще можете опередить.
