extends ../layouts/wrapper
include ../mixins/products

block content
    include ./../layouts/home-swiper

    div.products-preview
        +products(products)

    script
        = 'window.app = window.app || {};'
        = 'window.app.indexPagination = {};'
        = 'window.app.indexPagination.totalPages = ' + indexPagination.totalPages + ';'
        = 'window.app.indexPagination.startPage = ' + indexPagination.startPage + ';'
    div.pagination-wrapper.js-index-pagination

    include ./index-seo-text
