extends ../layouts/wrapper
include ../mixins/products

block content
    include ./../layouts/home-swiper

    div.category-list-wrapper.js-category-list-wrapper

    //div.products-preview
    //    +products(products)

    //div.pagination-wrapper.js-index-pagination

    include ./index-seo-text

    //script
    //    = 'window.app = window.app || {};'
    //    = 'window.app.indexPagination = {};'
    //    = 'window.app.indexPagination.totalPages = ' + indexPagination.totalPages + ';'
    //    = 'window.app.indexPagination.startPage = ' + indexPagination.startPage + ';'
