extends ../layouts/wrapper

block content
    include ./../layouts/home-swiper

    div.products-preview.width-limiter
        each product in products
            a.product-preview(href='/product/' + product.slug)
                div.product-preview__image(style='background-image: url(' + product.image + ')')
                h3.product-preview__name= product.name
                p.product-preview__description= product.description
                span.product-preview__price= product.price + ' руб.'

    script
        = 'window.app = window.app || {};'
        = 'window.app.indexPagination = {};'
        = 'window.app.indexPagination.totalPages = ' + indexPagination.totalPages + ';'
        = 'window.app.indexPagination.startPage = ' + indexPagination.startPage + ';'
    div.pagination-wrapper.js-index-pagination

    include ./index-seo-text
