extends ../layouts/wrapper

block content
    div.width-limiter.width-limiter--big-padding
        a(href='/api/pdf-order/' + slug + '.pdf' download='tattoobrands.by-' + slug + '.pdf').js-pdf-order.pdf-order

        if header
            h2.page-header= header

        != orderHtml
