extends ../layouts/wrapper

block content
    div.width-limiter.width-limiter--big-padding
        div.js-pdf-order.pdf-order

        if header
            h2.page-header= header

        div.js-pdf

            h2.page-header Заказ #
                != order.name
            script
                = 'window.app = window.app || {};'
                != 'window.app.order =' + JSON.stringify(order)

            div.js-table-order
