extends ../layouts/wrapper

block content
    div.width-limiter.width-limiter--big-padding

        h2.page-header Регистрация

        form.form.clear-self.js-registration-form
            label.label
                p.label__text Email:
                input.input.input--text(type="email" name="email" placeholder="your@email.com" required)

            label.label
                p.label__text Password:
                input.input.input--text(type="password" name="password" placeholder="*********" required)

            button.button.button--right.js-login войти
            p.label__text или
            button.button.button--right.js-register регистрация

