mixin variants(variants, productId)
    each variant in variants
        div.variant
            h3.variant__header=variant.displayName || variant.name
            each item in variant.items
                if item.productId === productId
                    a.variant-link.js-variant-link.variant-link--active(data-product-id=item.productId href='/product-id/' + item.productId)= item.label
                        span.variant-link_cost.js-variant-link_cost
                else
                    a.variant-link.js-variant-link(data-product-id=item.productId href='/product-id/' + item.productId)= item.label
                        span.variant-link_cost.js-variant-link_cost
