@mixin prefix($property, $value) {
  @each $prefix in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$prefix + $property}: $value;
  }
}

@mixin prefix-property($property, $value) {
  @each $prefix in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$property}: #{$prefix + $value};
  }
}

.header {
  padding-top: 4px;
  //height: 218px;
  background-repeat: repeat-x;
  position: relative;
  background-image: image-url('bg-header.png');
}

.logo {
    background-image: image-url('logo.png');
    background-repeat: no-repeat;
    height: 97px;
    width: 250px;
	float: left;
    @include prefix(background-size, 100% 100%);
    color: transparent;
    margin: 26px 0 0 31px;
}

.header-slogan {
  color: #878484;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  float: left;
  clear: left;
  margin: 4px 0 0 1px;
  letter-spacing: -0.5px;
  width: 320px;
  text-align: center;
  font-weight: normal;
}

.header-slogan-link {
  text-decoration: underline;
  color: #878484;
}

.header-slogan-link:hover {
  text-decoration: none;
}

.header-search-wrapper {
  width: 365px;
  position: absolute;
  left: 364px;
  top: 37px;
}

.header-search-input {
  font-size: 16px;
  line-height: 26px;
  display: block;
  border: 1px solid #dcdcdc;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAWlBMVEUAAADnHwPnHwPnHwPnHwPnHwPnHwPnHwPnHwPnHwPnHwPnHwPnHwPnHwPnHwPnHwPnHwPnHwPnHwPnHwPnHwPnHwPnHwPnHwPnHwPnHwPnHwPnHwPnHwPnHwNIEP1/AAAAHXRSTlMA+D5GG1/tasuseDIiB9a3jhK8pVIO4LKgglk3mc9amWAAAAD8SURBVDjLlZPZcoMwDEWRcWwDSSDsS87//2anzABe0naqJ2vOGV3pwVlYeeNGRtfk2cfqnxz17FP8KHYyv+fdKx4RfzmQRe9vXQq4Vyi04PSlt9AGfIH24QdOsHi9FsZw5PBE9NU20McnQ3N1Bpec5TDnu4IyEUqojvcNVCJscPPkeyJoKD3hlQiDJ9hPE+5gvZPWRFghP6cJXSJ0yHA2NRJnaKG+OgVFJLzD02uwAb9BHaxsEOtzwYShDVDoI38GUQG3AMhkt6qyk4BRcSKm5qpCJ1y2THUGANOpLOJnZKWsqi5ybByu9F++fvP8Z97/wVXM0x8Z89T4lX8B7MsVEO3cQdsAAAAASUVORK5CYII=');
  background-repeat: no-repeat;
  padding: 7px 34px 5px 17px;
  background-position: 323px 8px;
  @include prefix(background-size, 21px 21px);
  width: 307px;
  @include prefix(transition, background-image linear 0.15s);
}

.header-search-input.search-in-progress {
  background-image: image-url('search-in-progress.gif');
}

.header-search-submit {
  position: absolute;
  right: 6px;
  font-size: 0;
  line-height: 0;
  border: none;
  background: transparent;
  width: 39px;
  height: 40px;
  top: 0;
  z-index: 1;
  cursor: pointer;
}

.header-request-free-callback {
  font-size: 12px;
  color: #00a1e2;
  text-decoration: underline;
  line-height: 12px;
  padding: 7px 0 0 12px;
  letter-spacing: 0.5px;
  display: none;
}

.header-request-free-callback:hover {
	text-decoration: none;
}

.header-phones-wrapper {
  position: absolute;
  top: 36px;
  right: 19px;
}

.header-phone {
  background-position: 0px 1px;
  background-repeat: no-repeat;
  color: #000;
  font-size: 17px;
  line-height: 17px;
  @include prefix(background-size, 17px 17px);
  padding-left: 26px;
  padding-bottom: 11px;
}

.header-phone-velcom {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAZlBMVEUAAAD/7wC0pwDy3QD24QD44wD//gBoYADx2wD/8gC9rwCxpABuZgD/9wDYxgC4qgC3qgCRhwBjWwBcVABEPwD85gC/sQCWjQBgWQBSTADdywDDtQCXjgCXjQCIfwB5cgBUTwA7NwAahW6dAAAAlklEQVQoz7XOyxKDIBBE0QFBRE3iIyQx7/z/T2a0moEq1t5d19k07dQvH9983B59Gs96zKTVF7Fr7dmSaLYoSik2ERgk2swCE2F7EzkW1LqRJdqLFj1Auu6uJO8/ROfTADqaxkY5OCIxlqpiE4FBYBAYZDWI2CqwAEGLFTIWEputaSATUWlJShMpzYRNyqYQ8KDM9bRnf5f5CGBh3RoAAAAAAElFTkSuQmCC');
}

.header-phone-mts {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaBAMAAABbZFH9AAAAMFBMVEXuLiT////7y8j3l5L1iYTxVU3vOzL+8vH82Nb5sa395eT6vrvyYlvwSD/4pJ/0fHZiDd/bAAAAbUlEQVQY02MgCFiNLyA4bIqCcghehqCg4AQ4TxHIE4ZxWARBIADKSwfzFKA8RzBPBspbCOZJQi0TBANxhCEIYzihPAcwjwnKMyCRxwzlHQDzeCEcKahbNoJ5wlhdzdoI5AglwD3YKCj9gYEkAAD9AxFwrEUO5AAAAABJRU5ErkJggg==');
}

.header-phone-fixed {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAllBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA6C80qAAAAMXRSTlMA5+q6QhQH9Zs8NAT48e3b1safXk8sH/vQv6J1WVM44suzp4J9aUpIOSUPCpOKamQcPlQGXQAAAPhJREFUKM910dmWgkAMRdEwIyCDIKiA7Wxrj/n/n+ubkq4HVzwvLN0KqUCPkiImvY8V80mnb0aDJmElFCUKtRFLZatQx6aFPgXqauWOJ0NHUgrehM6kVQu5M9UOry0oX9vS+bfk+Gt30fR1QOTPxZxhdLic9nKTLRVXogtsKh8N7VjKGvzPsdb1QsyVH2O5Pp63YtunIXwJc7eYc2NpZyjGKAtMAKOhMJDtb/iAHX2lD3uXA/ZVzrwm6RrhbYSUbiajtM0nogb2g6vYktAswzMmm/Mov/ZwPoyUYGcXu6Studxhmefh5PuUnrof2OQF2nvz3Hx9Dkn6AyWMJ/dvNrlTAAAAAElFTkSuQmCC');
}

.header-nav {
  //position: absolute;
  width: 100%;
  //height: 34px;
  z-index: 0;
  //bottom: 0;
  left: 0;
  font-size: 0;
  line-height: 0;
  text-align: center;
  border-color: #A7A7A7;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-style: solid;
  background-color: #E8E8E8;
  margin-top: 9px;
}

.header-nav-item {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  padding: 10px 19px;
  text-align: center;
  display: inline-block;
}

.header-nav-item.nav-item-active,
.header-nav-item:hover {
  color: #bf2622;
}

.header-basket-wrapper {
  color: #fff;
  height: 52px;
  position: absolute;
  top: 130px;
  right: 13px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAALVBMVEUAAAD///////////////////////////////////////////////////////+hSKubAAAADnRSTlMA4ICQ8MBAILAQYNB/MLHxaFsAAACGSURBVCjPYyAM3r17J4Yu8BBdDQoACsQRFLBDF9BDF1iHLpCHLlCHLsCHLsCCLsCKLsCBLsCE4G3VygQKlEA4T4LVLkB82wfkvW5ahuR9V6N0lPDwm4AWQH3haAIl6NayN6IIEAUmCx5AZdm9ewyiECw/cFQhWJgCeu8egSgEi1lQAUhCWQAgcuMgVzbChwAAAABJRU5ErkJggg==');
  background-color: #bf2622;
  @include prefix(background-size, 22px 22px);
  padding-left: 46px;
  background-repeat: no-repeat;
  background-position: 11px 17px;
  letter-spacing: -0.5px;
  min-width: 114px;
  opacity: 0;
  @include prefix(transition, opacity ease-out 0.3s);
}

.showed .header-basket-wrapper {
  opacity: 1;
}

.showed-instantly .header-basket-wrapper {
  @include prefix(transition, none);
  opacity: 1;
}

.header-basket-wrapper:hover .header-basket-goods-cost {
  text-decoration: none;
}

.header-basket-goods-count {
  font-size: 15px;
  line-height: 15px;
  position: absolute;
  left: 0;
  top: 1px;
  text-align: right;
  color: #fff;
  width: 42px;
}

.header-basket-goods-cost {
  background-color: #20242D;
  font-size: 14px;
  line-height: 23px;
  padding: 14px 7px 15px;
  float: left;
  min-width: 100px;
  text-align: center;
  color: #fff;
  text-decoration: underline;
}

.header-basket-currency-name {

}

/* account */
.header-account-link-wrapper {
  position: absolute;
  right: 19px;
  top: 3px;
}

.header-account-link,
.header-logout-link,
.header-login-link {
  font-size: 12px;
  line-height: 12px;
  text-decoration: none;
  color: #333;
  letter-spacing: -0.5px;
}

.header-account-link:hover,
.header-logout-link:hover,
.header-login-link:hover {
  text-decoration: underline;
}

.header-custom-data {
  position: absolute;
  top: 105px;
  left: 340px;
  text-align: center;
  width: 400px;
}

.header-paragraph-custom-1 {
  font-weight: bold;
  padding-bottom: 9px;
}





