footer.footer.clear-full

    div.width-limiter

        div.footer__left-part
            p.footer-paragraph--type-2
                = 'Магазин профессионального'
                br
                = 'оборудования для тату-мастеров'
                br
                = 'Аллы Ромазановой'
                br
                span.secondary-color &copy; 2020 Tattoo-Brands.by

        div.footer__right-part
            p.footer-paragraph--type-2 Время приема заказов через корзину:
                = ' '
                span.secondary-color круглосуточно
            p.footer-paragraph--type-2 Время приема заказов по телефону пн-сб:
                = ' '
                span.secondary-color с 9.00 до 17.00
            //p.footer-paragraph--type-2 Время доставки заказов пн-сб:
            //    = ' '
            //    span.secondary-color с 10.00 до 17.00

        div.footer__center-part.clear-self
            div.w50
                a.footer__nav_link(href='/promo-products') Промо товары
                a.footer__nav_link(href='/static-page/guarantee') Гарантия
                a.footer__nav_link(href='/static-page/contacts') Контакты
            div.w50
                a.footer__nav_link(href='/static-page/discounts') Скидки
                a.footer__nav_link(href='/static-page/shipping-and-payment') Оплата и доставка

        div.footer__full-line
            p.footer-paragraph--type-3 В торговом реестре с 28 августа 2015 г. Регистрация №0054345, 6.09.2015, Минсгорисполком. ИП Шишкин Я.С. УНП 191877932 ID сайта в БелГИЭ: 143464

include ./../views/seo
