nav.footer-nav
    a.footer-nav__link(href='/') каталог
    a.footer-nav__link(href='/') скидки
    a.footer-nav__link(href='/') гарантия
    a.footer-nav__link(href='/') контакты
    a.footer-nav__link(href='/') оплата и доставка
