footer.footer
    include ./footer-nav

    div.width-limiter

        div.footer-position--left
            p.footer-paragraph--type-1
                = 'В торговом реестре с 28 августа 2015 г.'
                br
                = 'Регистрация №0054345, 6.09.2015,'
                br
                = 'Минсгорисполком.'
            p.footer-paragraph--type-2
                = 'ИП Шишкин Я.С. УНП 191877932'
                br
                = 'ID сайта в БелГИЭ: 143464'


        div.footer-position--center
            p.footer-paragraph--type-3 Время приема заказов через корзину:
                = ' '
                span.secondary-color круглосуточно
            p.footer-paragraph--type-3 Время приема заказов по телефону пн-сб:
                = ' '
                span.secondary-color с 9.00 до 18.00
            p.footer-paragraph--type-3 Время доставки заказов пн-сб:
                = ' '
                span.secondary-color с 10.00 до 21.00

        div.footer-position--right
            p.footer-paragraph--type-4
                = 'Магазин профессионального'
                br
                = 'оборудования для тату-мастеров'
                br
                = 'Аллы Ромазановой'
                br
                span.secondary-color &copy; 2016 TattooBrands.by
