nav.header-nav.clear
    a.header-nav__link(href='/') каталог
    a.header-nav__link(href='/') скидки
    a.header-nav__link(href='/') гарантия
    a.header-nav__link(href='/') контакты
    a.header-nav__link(href='/') оплата и доставка
