header.header
    div.width-limiter.clear-self

        div.header__left-part
            a.header__logo(href="/")
            h1.header__slogan Магазин профессионального
                br
                = 'оборудования для тату-мастеров'
                br
                a.header__slogan-link(target="_blank" href="https://www.instagram.com/romazanova_alla/") Аллы Ромазановой

        div.header__right-part
            a.header__phone.header__phone--velcom(href="tel:+375445449911") +375 (44)
                = ' '
                span.secondary-color 544-99-11

            div.header__social-block.clear-full
                a.header__social-link.header__social-link--vk(target="_blank" href="https://vk.com/club116080919")
                a.header__social-link.header__social-link--youtube(target="_blank" href="https://www.youtube.com/watch?v=_E70HsHRk4k")
                a.header__social-link.header__social-link--instagram(target="_blank" href="https://www.instagram.com/tattoobrands_by/")

            div.header__cart Нет товаров

        div.header__center-part
            form.header-search
                input.header-search__input(placeholder="Поиск...")
                div.header-search__icon

            div.header-work-time
                p.header-work-time__paragraph Время приема заказов по телефону пн-сб
                p.header-work-time__time с 9.00 до 18.00
