//nav.header-nav.clear
//    a.header-nav__link(href='/') каталог
//    a.header-nav__link(href='/') скидки
//    a.header-nav__link(href='/') гарантия
//    a.header-nav__link(href='/') контакты
//    a.header-nav__link(href='/') оплата и доставка

script
    != 'window.app = window.app || {};'
    != 'window.app.categoryTree = ' + JSON.stringify(categoryTree) + ';'

nav.header-nav.clear.js-header-nav.clear-full
    div.header-nav__link
        a(href="/").header-nav__active-element &nbsp;
