div.js-home-swiper-wrapper.home-swiper-wrapper.home-swiper-wrapper--wait-for-init
    div.swiper-wrapper
        - var ii = 0;
        while ii <= 6
            a.swiper-slide.home-swiper__slide(href='/')
                img.home-swiper__img(src=externalStorage + 'img/slide/slide-' + ii + '.png')
            - ii+= 1;
    div.swiper-pagination
