div.js-home-swiper-wrapper.home-swiper-wrapper
    div.swiper-wrapper
        a.swiper-slide.home-swiper__slide(href='/')
            img.home-swiper__img(src='img/swiper/slide-0.png')
        a.swiper-slide.home-swiper__slide(href='/')
            img.home-swiper__img(src='img/swiper/slide-1.png')
        a.swiper-slide.home-swiper__slide(href='/')
            img.home-swiper__img(src='img/swiper/slide-2.png')
        a.swiper-slide.home-swiper__slide(href='/')
            img.home-swiper__img(src='img/swiper/slide-3.png')
        a.swiper-slide.home-swiper__slide(href='/')
            img.home-swiper__img(src='img/swiper/slide-4.png')
        a.swiper-slide.home-swiper__slide(href='/')
            img.home-swiper__img(src='img/swiper/slide-5.png')
        a.swiper-slide.home-swiper__slide(href='/')
            img.home-swiper__img(src='img/swiper/slide-6.png')
    div.swiper-pagination
