<!-- .main-content  -->
<div class="width-limiter clear-fix">
  <div class="side">
    <div class="side-category-list">
      <%= render :partial => 'spree/shared/taxonomies' %>

      <%# always render filters %>
      <%= render :partial => 'spree/shared/filters' %>
    </div>
  </div>

  <div class="main-content-with-side">
    <% cache(cache_key_for_products) do %>
      <%= render :partial => 'spree/shared/products', :locals => { :products => @products } %>
    <% end %>
  </div>
</div>
