<%= raw @page.content %>

<% if try_spree_current_user && try_spree_current_user.admin? %>

<div class="set-page-buttons-wrapper js-set-page-buttons-wrapper">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                  main_app.pages_path, :class => 'set-page-button green'  %>

    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  main_app.edit_page_path(@page), :class => 'set-page-button blue' %>

    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  main_app.page_path(@page),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'set-page-button red' %>
</div>

<% end %>