extends ../../layouts/wrapper

block content
    div.width-limiter.width-limiter--big-padding.clear-self

        link(href="/static/page/style.css" rel="stylesheet")

        h2.page-header Прием онлайн заказов круглосуточно
        h3.seo-text__header Контакты:
        p.seo-text__paragraph Телефон:
                a.ga_ym_t +375 (44) 544-99-11

        p.seo-text__paragraph Email: 
                a.ga_ym_m tattoobrands.by@gmail.com

        br
        p.seo-text__paragraph Время приема заказов через корзину
            span.bold= ' круглосуточно'
            |.

        p.seo-text__paragraph Время приема заказов по телефону пн-сб:
            span.bold= ' '
                | с&nbsp;9.00&nbsp;до&nbsp;17.00
            |.

        //p.seo-text__paragraph Время доставки заказов пн-сб:
        //    span.bold= ' '
        //        | с&nbsp;10.00&nbsp;до&nbsp;17.00
        //    |.

        h3.seo-text__header Мы в социальных сетях:
            div.clear
                a.static-page__social-link(href="https://www.instagram.com/tattoobrands_by/" target="_blank")
                    img(src="/static/page/instagram.png")
                a.static-page__social-link(href="https://www.youtube.com/watch?v=_E70HsHRk4k" target="_blank")
                    img(src="/static/page/youtube.png")
                a.static-page__social-link(href="https://vk.com/club116080919" target="_blank")
                    img(src="/static/page/vk.png")
