extends ../../layouts/wrapper

block content
    div.width-limiter.width-limiter--big-padding.clear-self

        link(href="/static/page/style.css" rel="stylesheet")

        h2.page-header Гарантийные обязательства, ремонт и возврат товара

        h3.seo-text__header Интернет магазин "Tattoo-brands.by" предоставляет гарантию на свою продукцию сроком 1 год.

        p.seo-text__paragraph В случае заводского брака мы обменяет товар и оплатим расходы связанные с заменой товара.

        p.seo-text__paragraph Если заменить товар нет возможности, мы возвращаем деньги за товар и оплачиваем все расходы связанные с возвратом продукции.

        h3.seo-text__header Возврату и замене не подлежат:

        ul.seo-text__list
            li.seo-text__list-item Товары одноразового использования: стерильные инструменты, иглы, типсы, модули, колпачки под краску, держатели

            li.seo-text__list-item Жидкости: краски, разбавители

            li.seo-text__list-item Средства для перевода

            li.seo-text__list-item Мази и прочие расходные материалы

        p.seo-text__paragraph Возврат сложных электронных и технических изделий (блоки питания, роторные тату-машинки) возможен, при условии, что изделие не соответствует заявленному качеству или имеет заводской брак.
